@import '/css/fonts.css';
footer a {
    color: #6c757d!important;
    transition: 0.3s;
}

footer a:hover {
    color: #62774f!important;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#themebutton {
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
    height: 50%;
}